.active-filter-container
{
  align-items: center;
  background-color: hsl(180, 31%, 95%);
  border-radius: 5px;
  color: hsl(180, 29%, 50%);
  display: flex;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  padding: 5px;
  width: fit-content;
}

.active-filter
{
  padding-right: 5px;
}

.close
{
  background-color: hsl(180, 29%, 50%) !important;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white !important;
  cursor: pointer;
  padding: 5px;
}

.close:hover
{
  background-color: black !important;
  color: white !important;
}