*
{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App
{
  background-color: hsl(180, 52%, 96%);
  min-height: 100vh;
  width: 100%;
  .header
  {
    background-color: hsl(180, 29%, 50%);
    background-image: url('../../public/images/bg-header-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100%;
  }
  .filters-container-active
  {
    align-items: baseline;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
    top: -50px;
    width: 350px;
  }
  .filters-container
  {
    display: none;
  }
  .postings
  {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1440px)
{
  .App
  {
    .header
    {
      background-image: url('../../public/images/bg-header-desktop.svg');
      height: 150px;
    }
    .filters-container-active
    {
      min-height: 50px;
      padding-left: 25px;
      padding-right: 25px;
      top: -25px;
      width: 750px;
    }
  }
}